<p><%= @current_account.name %> Account Dashboard</p>
<p>Users:</p>
<ul>
  <% @current_account.users.each do |user| %>
    <li>
      <% if @current_account.owner == user %>(Owner)<% end %>
      <%= user.first_name %> <%= user.last_name %>
    </li>
  <% end %>
</ul>