<p>Hi <%= @name %>--</p>

<% if @token %>
  <p>You can confirm your account email through the link below:</p>
  <p><%= link_to 'Confirm my account', confirmation_url(@owner, confirmation_token: @token) %></p>
<% end %>

<p>Your account is ready!</p>

<p><strong>Company name:</strong> <%= @company_name %><br />
<strong>URL:</strong> <%= link_to @url, @url %></p>

<p>Please let us know if you have any questions.</p>

<p>Thanks!</p>