<p>Hi <%= @name %>--</p>

<p>Your account is ready!</p>

<p><strong>Company name:</strong> <%= @company_name %><br />
<strong>URL:</strong> <%= link_to @url, @url %></p>

<p>Please let us know if you have any questions.</p>

<p>Thanks!</p>