<!DOCTYPE html>
<html>
<head>
  <title>Landlord</title>
  <%= stylesheet_link_tag    "landlord/application", media: "all" %>
  <%= javascript_include_tag "landlord/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
